huggingface-hub==0.8.1
multiprocess==0.70.12.2
nlg-eval==2.3
nltk==3.8.1
numpy==1.23.1
paddle-bfloat==0.1.7
paddle2onnx==0.9.8
paddlefsl==1.1.0
paddlenlp==2.3.5
paddlepaddle-gpu==2.3.1
pandas==1.4.3
protobuf==3.20.0
regex==2022.7.25
scikit-learn==1.1.2
scipy==1.9.0
sentencepiece==0.1.97
seqeval==1.2.2
tqdm==4.64.0
xdg==5.1.1