data/numericNLG
data/Totto

models/paddle
models/pytorch
models/tf


logs

code/paddle/afs

code/pytorch/afs
code/pytorch/.vscode
code/pytorch/__pycache__
code/pytorch/*.log
code/pytorch/src/__pycache__

code/tensorflow/afs

.vscode